<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Adobe Experience Manager - Dojo</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link href="css/site.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <div>
                            <img src="images/adobe-aem-logo.png" style="width:35px; height:35px" />
                             &nbsp; Adobe Experience Manager
                    </div>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="sobre.html">Sobre nossa empresa</a>
                    </li>
                    <li>
                        <a href="servicos.html">Nosos Serviços</a>
                    </li>
                    <li>
                        <a href="faleconosco.html">Contato</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
                <div class="carousel-caption">
                    <h2>Item 1</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
                <div class="carousel-caption">
                    <h2>Item 2</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
                <div class="carousel-caption">
                    <h2>Item 3</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    A Adobe Marketing Cloud é líder do setor
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-question-circle"></i> O que é o Adobe Experience Manager?</h4>
                    </div   >
                    <div class="panel-body">
                        <p>É uma solução abrangente de gerenciamento de conteúdo para a construção de sites, aplicativos móveis e formulários, além de facilitar o gerenciamento do conteúdo e ativos de marketing. </p>
                        <a href="#" class="btn btn-default">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-clock-o"></i> Crie valor para toda a vida</h4>
                    </div>
                    <div class="panel-body">
                        <p>Ofereça experiências digitais durante o ciclo de vida do cliente que fortaleçam a fidelidade à marca e impulsionem a demanda. </p>
                        <a href="#" class="btn btn-default">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-clock-o"></i> Faça abordagens oportunas e pessoais.</h4>
                    </div>
                    <div class="panel-body">
                        <p>Forneça e gerencie experiências responsivas, relevantes e sociais. Coloque o cliente no centro de cada interação. </p>
                        <a href="#" class="btn btn-default">Saiba mais</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->


        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Recursos</h2>
            </div>
            <div class="col-md-6">
                <p><strong>A melhor experiência digital é consistente</strong></p>
                <p>Simplifique a criação, o gerenciamento e a implantação do conteúdo e dos ativos em sites, aplicativos móveis e muito mais. </p>
                <br/>
                
                <p><strong>Gerencie seus sites com facilidade</strong></p>
                <p>Crie e proporcione rapidamente experiências móveis e na Web relevantes, diminuindo as demandas no seu departamento de TI</p>
                <br/>
                
                <p><strong>Gerenciamento de conteúdo móvel</strong></p>
                <p>À medida que você integrar dispositivos móveis aos seus esforços de marketing, garanta que essa experiência seja ideal em todos os dispositivos.</p>
                <br/>
                
                <p><strong>Comércio</strong></p>
                <p>Proporcione experiências de compras personalizadas e envolventes, que incorporem vídeos, redes sociais e outros meios dinâmicos.</p>
                <br/>
                
                <p><strong>Serviços gerenciados</strong></p>
                <p>Otimize a implantação de conteúdo com a Adobe como seu único parceiro de hospedagem e suporte.</p>
                <br/>
                
                <p><strong>Gerenciamento de campanhas de marketing</strong></p>
                <p>Organize, inicie e otimize campanhas em canais digitais de um único local. </p>
                <br/>
                
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/700x450" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <h4>Quer saber mais?</h4>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Fale conosco</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p><img src="images/ciandt-logo.png" style="width:45px; height:45px" /> 
                        <img src="images/adobe-logo.png" style="width:25px; height:25px" />
                        <strong>Evento Adobe Day</strong> - Belo Horizonte/ MG, 08/2015</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
